@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/fonts/Montserrat-bold.eot');
  src: url('../../assets/fonts/Montserrat-bold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Montserrat-bold.woff2') format('woff2'),
        url('../../assets/fonts/Montserrat-bold.woff') format('woff'),
        url('../../assets/fonts/Montserrat-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/fonts/Montserrat-regular.eot');
  src: url('../../assets/fonts/Montserrat-regular.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Montserrat-regular.woff2') format('woff2'),
        url('../../assets/fonts/Montserrat-regular.woff') format('woff'),
        url('../../assets/fonts/Montserrat-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
