@mixin placeholder-color($color:#000) {
  &::-webkit-input-placeholder {
		color: $color;
	}
	&::-ms-input-placeholder {
		color: $color;
  }
  &::placeholder {
		color: $color;
	}
}

@function rem($px) {
	@return $px / $font-size + 0rem;
}

//responsive
@mixin xl {
	@media screen and (max-width: 1200px) {
		@content;
	}
}

@mixin lg {
	@media screen and (max-width: 992px) {
		@content;
	}
}

@mixin md {
	@media screen and (max-width: 768px) {
		@content;
	}
}

@mixin sm {
	@media screen and (max-width: 576px) {
		@content;
	}
}

@mixin xs {
	@media screen and (max-width: 480px) {
		@content;
	}
}
